**/*.o
AUTHORS
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/mjm
stamp-h1
automenu