*.o
.deps
.dirstamp
*.log
*.trs
*~
autom4te.cache
INSTALL
aclocal.m4
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
Makefile
Makefile.in
src/Makefile
src/Makefile.in
mjwm
*_test
*.output
stamp-h1
automenu
test-driver
