**/*.o
**/.deps/
**/.dirstamp
*.log
*~
autom4te.cache/
AUTHORS
INSTALL
NEWS
aclocal.m4
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
Makefile
Makefile.in
src/Makefile
src/Makefile.in
src/mjwm
test/mjwm_test
stamp-h1
automenu
